body{
	font-family: 'Great Vibes', cursive, serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
}
.blocpage{
	width: 1280px;
	min-width: 240px;
	margin: auto;
}
header {
	height: 20%;
	width: 100%;
	border:1px solid black;
	background: linear-gradient(#A3CB38, #e2efc0) ;
	/*position: fixed;*/
	z-index: 1000;
	display: flex;
	align-items: baseline;
	
	
}

header:nth-child(2){
	align-self: end;
}

h1{
 
	/*padding:  auto;*/
	font-size: 260%;
	font-weight:bold;
	text-align: left;
	color: #000;
	
    /*background-color: #fff;*/
    border:1px solid red;
  
}


/*nav{
	
	margin: auto;
	/*height: 10vh;*/
	/*width:100%;*
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-weight: bold;
	/*position: relative;
	/*top: 15vh;
    left: 0px;
   /* background-color:#e2efc0;
    z-index: 100;
   border: 1px solid red;
    flex-flow: row wrap;*/
}

}
nav ul{
    display: flex;
    flex-flow: row wrap;	
	margin: 0px;	
	padding: 0px;
    border: 1px solid red;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
}
nav li{
	margin: auto;
	list-style-type: none;
    border:1px solid blue;
    padding:  auto;
    display: inline-flex;
}
nav a{
	font-weight: bold;
	text-decoration: none;
	color: #000;
	/*padding: 0px auto;
	font-size: 25px;
    border:1px solid black;*/
}

.main{
	/*width:100%;*/
	background: #FFFFFF;
	margin-left: 10%;
	margin-right: 10%;
	/*padding-bottom: 5%;*/
	text-align: justify;
	/*position: absolute;*/

	
	/*word-wrap: break-word;*/
	z-index: 100;
	/*overflow: auto;*/
}
h2{
    
	margin:0 auto;
}
footer{
	height: 15vh;
	border-top:3px solid #A3CB38;
	background-color: #7860d5;
	color: #f0f6de;
	position: relative;
	bottom: 0px;
	z-index: 99;

}

button{
	border-radius: 5px;
	border: 2px solid #A3CB38;
	box-shadow: 4px 4px 4px #7860d5;
	width:100px; 
	height: 30px;
	/*padding: 0 auto;*/
	
}
button:hover{
	background-color:#A3CB38;
	transition: 

}
button:active{
	background-color: #7860d5;

}

.foot{
	height: 7.5vh;
	display: flex;
	width: 100%;
	/*border: 1px solid red;*/
	justify-content: space-between;

}
.foot1{
	height: 57px
	/*width:100%*/
	/*border: 1px solid blue;*/
	margin-left:10%;
    
	
}
.foot2{
	/*border: 1px solid yellow;*/
	height: 57px;
    width: 100%
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	float: left;
	
	
	/*justify-content: space-around;*/
}

#fbk, #inst, #ytb{
	height: 57px;
	width: 57px;
	/*border: 1px solid blue;*/
	/*display: block;*/
	position: relative;
	background-image: url("../images/sprites.png");
	float: left;


}
#inst{
    background-position: 0px -3px;
}
#fbk{
   background-position: 120px -3px; 
}
#ytb{
	background-position: 60px -3px;
}
h3{
	margin:0 auto;
	justify-content: center;
}
.cpr{
    /*border: 1px solid red;*/
	display: flex;
	justify-content: center;

}
#mrs{
	/*width:100%;
	/*margin-left: 10%;*/
}