body{
	font-family: roboto, cursive, serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}



/*************************header******************************/
.blocpg{
	width: 100%;
	height: 100%;
}

header {
	height: 20%;
	width: 100%;
	border-bottom: .5px solid #000;
	background: linear-gradient(#64719b, #e2efc0);
	display: flex;
	flex-direction: column;
	/*position: relative;*/

	
	
	
}
	
header h1 {
    font-family: 'fondamento';
	font-size: 2.5em;
	font-weight: bold;
	color: gold;
    height: 20%;
    width:90%;
    /*border: 1px solid red;*/
    /*background-color: #fff;*/
    margin:  2% 0;
    padding: 0 0 0 3%
}

nav{
    width: 100%
	height: 70%
    margin: 5%;
    padding: 0;
	/*border:1px solid blue;*/
	display: flex;

    
}


ul{
	margin:0;
	padding-bottom: 5px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
   /* border:1px solid pink;*/
  
}


.btn{
    list-style-type: none;
	margin-right: 4%;
	width: 100px; 
	height: 30px;
	/*border:2px solid gold;*/
	text-align: center;
	/*display: block;*/
	/*padding-top: auto;
	padding-bottom: auto;*/
	
	border-radius: 10px;
	background-color: #64719b;;
	display: flex;
	align-items: center;
	justify-content: center;
	tranform: scale(1);
	transition: transform 500ms;
	
   
}




a{
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	/*display: inline-block;*/
	/*border: 1px solid white;*/

	
    
}

.btn:hover{
	transform: scale(1.2);
	background: linear-gradient( #e2efc0, #64719b);
	transition: 

}



/***************************main****************************/


.main{

	width:80%;
	background: linear-gradient(rgba(100,113,155, 0.1), rgba(226,239,192, 0.3));
	margin: 0 10%;
	height: 100%;
	text-align: justify;
	display:flex;
	flex-direction: row-reverse;

}
h2{
    
	margin:0 auto;
}
footer{
	height: 20%;
    background: linear-gradient( #e2efc0, #64719b);
	color: #fff;
	margin: 0;

}

.foot{
	height: 70%;
	display: flex;
	flex-direction: row
	width: 100%;
	/*border: 1px solid red;*/
	justify-content: space-between;
	align-items: center;
	z-index: -1;

}
.foot1{
	height: 30px
	width:50%;
	/*border: 1px solid blue;*/
	display: flex;
	padding:10px;
	/*margin-left:10%;*/
    
	
}
.foot2{
	/*border: 1px solid yellow;*/
	height: 30px;
    width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	/*margin-left: 10%;*/
	
	
	/*justify-content: space-around;*/
}

#fbk, #inst, #wts{
	height: 30px;
	width: 30px;
	/*border: 1px solid blue;*/
	display: inline-block;
	/*position: relative;*/
	background-image: url("../images/icswb.png");
	margin-right: 7%;
	border-radius: 5px;
	padding: 0;
	
}

#fbk:hover, #inst:hover, #wts:hover{
	height: 48px;
	width: 48px;
	/*border: 1px solid black;*/
	display: inline-block;
	/*position: relative;*/
	background-image: url("../images/icswb48.png");
	transition: 1s;
	margin-right: 7%;
	border-radius: 5px;
	padding: 0;
	
}

#fbk{
    background-position: 3px 0px;
    background-repeat: no-repeat;
}
#inst{
   background-position: -40px 0px;
   background-repeat: no-repeat; 
}
#wts{
	background-position: -83px 0px;
	background-repeat: no-repeat;
}

#fbk:hover{
    background-position: 5px 0px;
    background-repeat: no-repeat;
}
#inst:hover{
   background-position: -58px 0px;
   background-repeat: no-repeat; 
}
#wts:hover{
	background-position: -122px 0px;
	background-repeat: no-repeat;
}

.cpr{
    height: 30%;
	margin: 0;

}

h3{
	margin: 0;
	text-align: center;
	font-weight: italic;
	color: #000;
}


.art1{
	width: 49%;
	/*border: 2px solid gold;*/
	margin: 2%;
	padding: 2%;
	color: #000;
	text-align: justify;
	/*background-color: #150929;*/
	background-color: #fff;
	border-radius: 5px;

}

.asi1{
	width:50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
}
img{
	width: 100%;
	display: block;
	margin: 4% 2% 2% 2%;
	padding: 1%;
	border-radius: 10px;
}
.blq{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*border:1px solid black;*/
}

.blqL{
	width:90px;
	height: 90px;
	background-image: url(../images/blqL.png );
	background-repeat: no-repeat;
	/*border:1px solid red;*/
	display: inline block;
	padding: 0;
}

.blqR{
	width:90px;
	height: 90px;
	background-image: url(../images/blqR.png);
	background-repeat: no-repeat;
	/*border:1px solid red;*/
	display: inline block;
	padding: 0;
}

 .blq>p{
	text-align: justify;
	/*border:1px solid blue;*/
}
#aut{
	
	font: italic 16px roboto;
}

/**************************media queries**************************************************/

